# === Core dependencies ===
numpy==1.24.4
torch==2.4.1+cu118
torchvision==0.19.1+cu118
torchaudio==2.4.1+cu118
onnx==1.15.0
onnxruntime==1.19.2
insightface==0.2.1
moviepy==2.0.0.dev2
matplotlib==3.6.3
scikit-learn==1.3.2
scikit-image==0.19.3
easydict==1.13
tqdm==4.67.1
opencv-python==4.11.0.86
requests==2.32.3
protobuf==5.29.4

# === FFmpeg utils ===
imageio==2.35.1
imageio-ffmpeg==0.5.1
proglog==0.1.11
